language: c
before_install:
- sudo apt-get update -qq
- sudo apt-get install -qq libgmp3-dev git
- git clone https://github.com/tierney/reed-solomon.git && cd reed-solomon && ./autogen.sh && ./configure && make && sudo make install && cd -
- wget https://crypto.stanford.edu/pbc/files/pbc-0.5.14.tar.gz && tar -xf pbc-0.5.14.tar.gz && cd pbc-0.5.14 && ./configure && make && sudo make install && cd -
- export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
script: make && make tests